.searchResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border: none;
    border-radius: 0 0 5px 5px;
    z-index: 200;
}

.searchResultsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.searchItem {
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
}

.highlight {
    color: black;
    background-color: var(--bg-light-indigo);
}

.ticker {
    font-weight: 200;
    font-size: 0.8em;
}

.companyName {
    font-weight: 200;
}