.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1250px;
    height: auto;
    /* background-color: lightgray; */
    border-radius: 10px;
    overflow: hidden;
}

.calendarHeader {
    width: 100%;
    height: 100%;
    background-color: #428bca;
    padding-top: 1em;
    border-bottom: 1px solid black;
}

.monthTitle {
    text-align: center;
    padding: 0.25em;
}

.year {
    font-weight: 300;
}

.weekdayRow {
    display: none;
}

.weekdayContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.weekdayTitle {
    padding: 0.5em;
}

.dayContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 1em;
    overflow-x: hidden;
}

.isToday {
    border-radius: 0px;
}

.dayNumber {
    padding: 5px 6px;
    margin-bottom: 0.5em;
}

.weekRow {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    width: 100%;
}

.weekRow div {
    border-right: none;
}

.eventListContainer {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 2em;
    white-space: nowrap;
    overflow-x: hidden;
}

.eventItem {
    border-radius: 5px;
    padding: 2px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

.mobileViewDay {
    display: none;
}

@media (min-width: 391px) {
    .isToday {
        border-radius: 24px;
    }

    .mobileViewDay {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: auto;
        border-right: 1px solid black;
        padding-bottom: 1em;
        border-bottom: none;
        background-color: darkgray;
        overflow-x: hidden;
    }

    .monthTitle {
        text-align: left;
    }

    .weekdayRow {
        display: flex;
        width: 100%;
        height: 3em;
    }

    .weekRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 1;
        width: 100%;
    }

    .dayNumber {
        padding: 5px 6px;
        align-self: flex-end;
        margin: 0.5em 0.5em 0.5em 0;
    }

    .dayContainer {
        height: 7em;
        border-bottom: none;
    }

    .eventListContainer {
        padding: 0 0 0 0.25em;
        height: auto;
    }

    .dayTilesContainer div:last-child {
        border-bottom: none;
    }
}

@media (min-width: 820px) {
    .dayContainer {
        height: 10em;
    }
}

@media (prefers-color-scheme: light) {}