.bannerSection {
    background-image: url("../../assets/FinflexiBanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 40vh;
}

.signUpButton {
    margin: 1em;
    border: none;
    padding: 1em 2em;
    border-radius: 24px;
    background-color: darkorchid;
    color: white;
    font-weight: 600;
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.searchDesc {
    font-size: 1.5em;
    font-weight: 200;
    margin: 0.5em 0;
}

.searchBarContainer {
    width: 90vw;
    height: 30vh;
    margin-top: 5em;
    margin-bottom: 1em;
}

.sectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    min-height: 30em;
    padding: 2em;
    margin-top: 5em;
}

.companiesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-top: 5em;
}

.sectionTitle {
    font-weight: 300;
    font-size: 2em;
}

.sectionDetails {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companiesSectionDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.companyIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 100%;
    height: 5em;
    margin-top: 2em;
}

.sectionImage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50vw;
}

@media(min-width: 768px) {
    .searchBarContainer {
        width: 60vw;
    }

    .sectionReverse {
        flex-flow: row-reverse;
    }
}