.listItemContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.linkContainer {
    width: 100%;
}

.listItemDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1em;
    cursor: pointer;
}

.listItemDetails:hover {
    color: black;
    background-color: var(--dark-green);
}

.ticker {
    font-weight: 200;
    font-size: 0.8em;
}

.companyName {
    font-weight: 200;
}

.starIcon {
    cursor: pointer;
}

.starContainer {
    padding: 0 1em;
}

.grabIconContainer {
    cursor: grab;
}

.isDragging {
    background-color: var(--gray);
}