.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    padding-top: 3em;
}

.calendarSection {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1em;
    width: 90vw;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    min-width: 340px;
    width: 90vw;
    max-width: 768px;
}

.eventListContainer {
    /* width: 100%; */
    flex: 1;
    max-width: 720px;
    min-width: 340px;
}

.eventListContainer>ul {
    list-style-type: none;
    padding: 0;
}

.eventListContainer>ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    padding: 0 1em 0.8em 0;
    border-bottom: 1px solid darkgray;
}

.listDateitem {
    color: gray;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    padding-top: 7em;
}

.chartSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    padding: 2em 0;
    width: 90vw;
}

.chartContainer {
    background-color: black;
    border-radius: 12px;
    min-width: 360px;
    height: auto;
    padding: 1em;
    cursor: pointer;
}

.stockDetailsContainerTop {
    display: flex;
    justify-content: space-between;
    padding: 0 0 2em 0;
    width: 100%;
}

.stockDetailsContainerBottom {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 0 0;
    width: 100%;
}

.earningsHeader,
.companiesHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    color: gray;
    padding: 1em;
    background-color: var(--gray);
}

.earningsHeader {
    margin-bottom: 2em;
}

.earningsHeader>h1,
.companiesHeader>h1 {
    font-weight: 300;
    text-align: center;
}

.emptyDashContainer {
    margin-top: 5em;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.welcomeHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.welcomeSection {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcomeSection p {
    text-align: center;
}

.emptyDashContainer h1 {
    font-weight: 300;
}

@media (min-width: 768px) {

    .container {
        padding-top: 7em;
    }

    .chartSection,
    .calendarSection {
        justify-content: flex-start;
    }

    .calendarSection {
        flex-direction: row;

    }

    .calendarContainer {
        order: 1
    }

    .eventListContainer {
        /* width: 25vw; */
        max-height: 30em;
        overflow-x: scroll;
    }
}