@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-pink: #F900BF;
  --neon-green: #00FFAB;
  --dark-pink: #A91079;
  --dark-gray: #121212;
  --dark-green: #14C38E;
  --purple-blue: #293462;
  --gray: #343434;
  --error: #D61C4E;
  --text-black: #212529;
  --text-light-indigo: #A5B4FC;
  --bg-white: #F8F9FA;
  --bg-light-indigo: #A5B4FC
}

html,
body {
  overscroll-behavior: none;
  color: var(--text-black);
  background: var(--bg-white);
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: 1px solid var(--neon-green);
  box-shadow: 0 0 5px var(--neon-green);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 7em;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--neon-pink);
    background: #121212;
  }
} */